@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFEFEF;
}

.nabidka {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 70px;
}

.pictures {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: row;
}

.text p {
  padding: 10px;
}

img {
  width: 200px;
}

.recept {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.popis {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
}

button {
  width: 100px;
  background-color: #FFEFEF;
  color: grey;
  border: none;
  font-size: 10px;
}

.title {
  font-family: 'Playfair Display', serif;
}